.main {
    padding-top: 6rem;
    padding-bottom: 2rem;
    min-height: calc(100vh - 12rem);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px; /* Or your desired height */
    background-color: #f68938; /* Use a theme variable or a specific color */
    width: 0%; /* Initial width */
    z-index: 9999; /* Ensure it's above other content */
    transition: width 0.1s linear; /* Optional: smooth transition */
  }

/* Medium screens and up */
@media (min-width: 768px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Larger screens */
@media (min-width: 1280px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
